.root {
  margin: 100px auto;
}
.root .container .img {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.root .container .img img {
  border: black solid 3px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 767px) {
  .root {
    margin: 50% auto;
  }
  .root .container .img img {
    width: 100%;
  }
}
